[Unit]
Description=Popub reverse proxy local
After=network-online.target

[Service]
ExecStart=/path/to/popub-local :{PORT} {REMOTEHOST}:{PORT} {PASSWORD}
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
Restart=always
RestartSec=3
User=nobody

[Install]
WantedBy=multi-user.target
